<div style="float:left;margin:0;padding:0;">
    <script type="text/javascript"><!--
    google_ad_client ="<%= ENV['AD_CLIENT'] %>";
    //    google_ad_client = "ca-test";
    //    google_adtest = "on";
    google_ad_slot = "9295281243";
    google_ad_width = 320;
    google_ad_height = 50;
    //-->
    </script>
    <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
</div>
